.footer{
    padding: 2rem 0;
    text-align: center;
    margin-top: 1rem;
    background: black;
}

.footer__text{
    color: var(--texto)
}

.footer__link{
    color:var(--amarelo) ;
}

@media (min-width:992px){
    .footer{
        margin-top: 12rem;
    }
}